<div class="row">
  <div class="col-lg-12 ml-auto top-30">
    <p class="lead">La calculadora de costes para Stratups te permite calcular de modo fácil la
      viabilidad de tu proyecto. Primero de todo elige el tipo de proyecto que quiere emprender
    </p>
  </div>

</div>

<select name="business" class="form-control" [(ngModel)]="business"
  (ngModelChange)="navigateToBusiness()">

  <option *ngFor="let business of businessTypes" [value]="business">
    {{ business }}
  </option>
</select>

<div class="top-30" id="business">
  <business-hosteleria *ngIf="business == 'Hostelería'"></business-hosteleria>
</div>