<div>

  <div class="col-lg-12 ml-auto top-30" id="startSection">
    <p class="lead">Un restaurante, ¡¡estupendo!!. Vamos a empezar creando el proyecto, aunque,
      si lo deseas, puedes cargar algunos de nuestros ejemplos para inspirarte.
    </p>
  </div>

  <div class="clearfix">
    <div class="float-right">
      <button type="button" class="btn btn-primary btn-sm bottom-30" (click)="next()"
        *ngIf="_projectService.step == -1">
        Crear nuevo
      </button>
      &nbsp;
      <button type="button" class="btn btn-primary btn-sm bottom-30" data-toggle="modal"
        data-target="#loadExampleModal">
        Cargar ejemplo
      </button>
    </div>
  </div>
  <div [hidden]="_projectService.step < 0" id="section0">
    <div class="col-lg-12 ml-auto top-30">
      <p class="lead">Bueno, lo primero de todo vamos a ponerle nombre.
      </p>
    </div>

    <div class="card" id="nombre">
      <div class="card-header">
        <h5>Nombre</h5>
      </div>
      <div class="card-body">

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="_projectService.project.name">Nombre</label>
            <input type="text" class="form-control" id="project.name" placeholder="Nombre"
              [(ngModel)]="_projectService.project.name" [name]="_projectService.project.name">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div [hidden]="_projectService.step < 1" id="section1">
  <div class="col-lg-12 ml-auto top-30">
    <p class="lead">Fenomeno, seguro que {{_projectService.project.name}} será todo un éxito, pero
      para
      lograrlo vamos a hacer algunos cálculos. De momento vamos a calcular los ingresos
      previstos.
    </p>
  </div>
  <div class="card">
    <div class="card-header">
      <h5>Ingresos</h5>
    </div>
    <div class="card-body">
      <h6 class="card-title">Clientes</h6>
      <p class="lead">Supone la principal fuente de ingresos de un negocio de hosteleria,
        vamos a estimar la cantidad de clientes por mes y su ticket medio. Puedes añadir comentarios
        para justificar tus cálculos.
      </p>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="_projectService.project.esteemedCustomers.esteemed">
            Clientes
            <span *ngIf="!_projectService.project.esteemedCustomers.monthly">diarios</span>
            <span *ngIf="_projectService.project.esteemedCustomers.monthly">mensuales</span>
            estimados
          </label>
          <input type="number" class="form-control"
            id="_projectService.project.esteemedCustomers.esteemed" placeholder="Clientes"
            [(ngModel)]="_projectService.project.esteemedCustomers.esteemed"
            [name]="_projectService.project.esteemedCustomers.esteemed">
        </div>
        <div class="form-group col-md-6">
          <label for="_projectService.project.esteemedCustomers.averageTicket">Ticket medio</label>
          <input type="number" class="form-control"
            id="_projectService.project.esteemedCustomers.averageTicket" placeholder="Ticket medio"
            [(ngModel)]="_projectService.project.esteemedCustomers.averageTicket"
            [name]="_projectService.project.esteemedCustomers.averageTicket">
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox"
            id="_projectService.project.esteemedCustomers.monthly"
            [(ngModel)]="_projectService.project.esteemedCustomers.monthly"
            [name]="_projectService.project.esteemedCustomers.monthly">
          <label class="form-check-label" for="_projectService.project.esteemedCustomers.monthly">
            Mensuales
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="_projectService.project.esteemedCustomers.commentary">Comentarios</label>
        <textarea class="form-control" id="_projectService.project.esteemedCustomers.commentary"
          rows="3" [(ngModel)]="_projectService.project.esteemedCustomers.commentary"
          [name]="_projectService.project.esteemedCustomers.commentary"></textarea>
      </div>

      <h6 class="card-title">Otros ingresos</h6>
      <p class="lead">Quizá hayas pensado obtener ingresos por otros medios,
        como por ejemplo la venta de merchandising. Si es así, este es el lugar para añadirlos.
        Una vez que hayas añadido todos los ingresos que esperas obtener pulsa el botón
        continuar. Recuerda que los comentarios ayudarán a los inversores a comprender tus números
      </p>

      <div class="col-lg-12 mx-auto top-30 clearfix">
        <div class="float-right">
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
            data-target="#addAccountingNoteModal"
            (click)="selectedArray = _projectService.project.incomes">
            Añadir Ingreso
          </button>
        </div>
      </div>

      <div class="form-row top-30" *ngFor="let income of _projectService.project.incomes">
        <h6>{{income.name}}</h6>
        <div class="col-md-12" *ngIf="income.commentary">
          <textarea class="form-control" id="income.commentary" rows="2"
            [(ngModel)]="income.commentary" [name]="income.commentary"></textarea>
        </div>
        <div class="col-md-12" [ngClass]="{'top-30': income.commentary }">
          <div class="input-group">
            <input type="number" class="form-control" [id]="income.name" [value]="income.amount"
              [(ngModel)]="income.amount" [name]="income.name">
            <div class="input-group-prepend">
              <span class="input-group-text" id="validationTooltipUsernamePrepend"
                (click)="deleteAccountingNote('incomes', _projectService.project.incomes, income)"><i
                  class="fas fa-trash-alt float-right text-danger"></i></span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div [hidden]="_projectService.step < 2" id="section2">
  <div class="col-lg-12 ml-auto top-30">
    <p class="lead">Ahora tenemos que tener en cuenta los gastos. Estos los vamos a dividir
      entre los fijos y los variables.
    </p>
  </div>
  <div class="card">
    <div class="card-header">
      <h5>Gastos fijos</h5>
    </div>
    <div class="card-body">
      <p class="lead">Los gastos fijos de la hostelería suelen incluir el alquiler, personal,
        gestoria
        y otros, pero no dudes en añadir o eliminar los que necesites.
        Una vez que hayas añadido todos los gastos fijos que esperas tener pulsa el botón
        continuar.
      </p>

      <div class="col-lg-12 mx-auto top-30 clearfix">
        <div class="float-right">
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
            data-target="#addAccountingNoteModal"
            (click)="selectedArray = _projectService.project.costs.fixedcosts">
            Añadir Gasto Fijo
          </button>
        </div>
      </div>

      <div class="form-row top-30"
        *ngFor="let fixedCost of _projectService.project.costs.fixedcosts">
        <h6>{{fixedCost.name}}</h6>
        <div class="col-md-12" *ngIf="fixedCost.commentary">
          <textarea class="form-control" id="fixedCost.commentary" rows="2"
            [(ngModel)]="fixedCost.commentary" [name]="fixedCost.commentary"></textarea>
        </div>
        <div class="col-md-12" [ngClass]="{'top-30': fixedCost.commentary }">
          <div class="input-group">
            <input type="number" class="form-control" [id]="fixedCost.name"
              [value]="fixedCost.amount" [(ngModel)]="fixedCost.amount" [name]="fixedCost.name">
            <div class="input-group-prepend">
              <span class="input-group-text" id="validationTooltipUsernamePrepend"
                (click)="deleteAccountingNote('fixedCost', _projectService.project.costs.fixedcosts, fixedCost)"><i
                  class="fas fa-trash-alt float-right text-danger"></i></span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div [hidden]="_projectService.step < 3" id="section3" class="top-30">
  <div class="card">
    <div class="card-header">
      <h5>Gastos variables</h5>
    </div>
    <div class="card-body">

      <p class="lead">Los gastos variables de la hostelería suelen incluir la luz,
        el agua, el teléfono y otros, así que no dudes en añadir o eliminar los que
        tendrás en tu negocio.
        Una vez que hayas añadido todos los gastos variables que esperas tener pulsa el botón
        calcular y veremos la viabilidad de tu negocio.
      </p>

      <div class="col-lg-12 mx-auto top-30 clearfix">
        <div class="float-right">
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
            data-target="#addAccountingNoteModal"
            (click)="selectedArray = _projectService.project.costs.variablescosts">
            Añadir Gasto Variable
          </button>
        </div>
      </div>

      <div class="form-row top-30"
        *ngFor="let variableCost of _projectService.project.costs.variablescosts">
        <h6>{{variableCost.name}}</h6>
        <div class="col-md-12" *ngIf="variableCost.commentary">
          <textarea class="form-control" id="variableCost.commentary" rows="2"
            [(ngModel)]="variableCost.commentary" [name]="variableCost.commentary"></textarea>
        </div>
        <div class="col-md-12" [ngClass]="{'top-30': variableCost.commentary }">
          <div class="input-group">
            <input type="number" class="form-control" [id]="variableCost.name"
              [value]="variableCost.amount" [(ngModel)]="variableCost.amount"
              [name]="variableCost.name">
            <div class="input-group-prepend">
              <span class="input-group-text" id="validationTooltipUsernamePrepend"
                (click)="deleteAccountingNote('variableCost', _projectService.project.costs.variablescosts, variableCost)"><i
                  class="fas fa-trash-alt float-right text-danger"></i></span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-lg-12 mx-auto top-30 bottom-30"
  *ngIf="_projectService.step < 3 && _projectService.step >= 0">
  <button type="button" class="btn btn-primary btn-lg btn-block" (click)="next()">Continuar
  </button>
</div>

<div class="col-lg-12 mx-auto top-100 bottom-30" *ngIf="_projectService.step >= 3">
  <button type="button" class="btn btn-primary btn-lg btn-block" (click)="calculate()">Calcular
  </button>
</div>
<section [hidden]="!calculated" [ngClass]="{'bg-primary': result > 0, 'bg-danger': result <= 0 }"
  class="page-section bg-primary text-white mb-0" id="result">
  <div class="container">
    <!-- Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-white">Resultado</h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <div class="row">
      <div class="col-lg-12 ml-auto text-center">
        <p class="lead" *ngIf="result >= 0">¡¡Enhorabuena!! {{_projectService.project.name}} Parece
          que es viable
        </p>
        <p class="lead" *ngIf="result < 0">!!Ups!! {{_projectService.project.name}} no alcanza el
          punto de
          equilibrio, quizá valga la pena revisar esos números.
        </p>
        <p class="lead">Los ingresos previstos son: {{totalRevenue}}</p>
        <p class="lead">Los gastos fijos son: {{totalFixedCosts}}</p>
        <p class="lead">Los gastos varriables son: {{totalVariableExpends}}</p>
        <p class="lead">Lo que te llevaría a unos
          <span *ngIf="result < 0">gastos</span><span *ngIf="result >= 0">beneficios</span>
          mensuales de: {{result}}</p>
      </div>

    </div>
  </div>
</section>
<div class="bottom-30">
  <div class="form-row top-30" [hidden]="_projectService.step < 0">
    <div class="col-md-6">
      <button type="submit" class="btn btn-secondary btn-block" (click)="reset()">
        Vaciar proyecto
      </button>
    </div>
    <div class="col-md-6">
      <button *ngIf="!_userService.user" class="btn btn-primary btn-block"
        (click)="_utilitiesService.openLoginModal()">
        Login para guardar
      </button>
      <button *ngIf="_userService.user" class="btn btn-primary btn-block fade-in"
        (click)="saveProjectToUser()">
        Guardar proyecto
      </button>
    </div>
  </div>

  <div *ngIf="_projectService.project.isMine" class="form-row top-15">
    <div class="col-md-6">
      <button type="submit" class="btn btn-danger btn-block" (click)="deleteProjectFromUser()">
        Eliminar proyecto
      </button>
    </div>
    <div class="col-md-6">
      <button *ngIf="_userService.user" class="btn btn-primary btn-block fade-in"
        (click)="saveAsNewProjectToUser()">
        Guardar como nuevo proyecto
      </button>
    </div>
  </div>
</div>

<!-- Modal addAccountingNoteModal -->
<div class="modal fade" id="addAccountingNoteModal" tabindex="-1" role="dialog"
  aria-labelledby="addAccountingNoteModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addAccountingNoteModal">Añadir Movimiento contable</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="accountingNoteName">Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="accountingNoteName"
          id="accountingNoteName">

        <label for="accountingNoteAmount">Cantidad</label>
        <input type="number" class="form-control" [(ngModel)]="accountingNoteAmount"
          id="accountingNoteAmount">

        <label for="accountingNoteCommentary">Comentario</label>
        <textarea class="form-control" id="accountingNoteCommentary" rows="3"
          [(ngModel)]="accountingNoteCommentary" [name]="accountingNoteCommentary"></textarea>


        <button class="btn btn-primary top-30" data-dismiss="modal" (click)="addAccountingNote()">
          Añadir
        </button>

      </div>
    </div>
  </div>
</div>

<!-- Modal loadExampleModal -->
<div class="modal fade" id="loadExampleModal" tabindex="-1" role="dialog"
  aria-labelledby="loadExampleModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loadExampleModal">Cargar Ejemplo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button *ngFor="let example of examples" class="btn btn-primary ml-1" data-dismiss="modal"
          (click)="loadExample(example)">
          {{example.name}}
        </button>

      </div>
    </div>
  </div>
</div>