<div class="container pt-5 pl-0">
  <div class="row">
    <div class="col-auto">
      <img alt="User Pic" src="https://preview.pixlr.com/images/800wm/1256/2/1256209832.jpg"
        width="300px" class="img-circle img-responsive">

    </div>
    <div class="col-auto p-2">
      <table class="table table-user-information">
        <tbody>
          <tr>
            <td>Nombre:</td>
            <td>{{ currentUser.name }}</td>
          </tr>
          <tr>
            <td>Mail:</td>
            <td>{{ currentUser.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>