<div class="top-30">
  <div class="row justify-content-center">


    <!--Form with header-->

    <form id="contactForm" name="sentMessage" novalidate="novalidate">

      <div class="card-header p-0">
        <div class="bg-primary text-white text-center p-2">
          <h3><i class="fa fa-envelope"></i> Contacto</h3>
          <p class="m-0">La calculadora de Costes es un proyecto en constante proceso de mejora,
            por ello,
            cualquier comentario que nos hagas llegar será para nosotros un incentivo para
            continuar construyendo una
            herramienta útil y eficaz.</p>
        </div>
      </div>
      <div class="card-body p-3">

        <!--Body-->
        <div class="form-group">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-user text-primary"></i></div>
            </div>
            <input class="form-control" id="name" type="text" placeholder="Nombre"
              required="required" [(ngModel)]="name" [ngModelOptions]="{standalone: true}"
              data-validation-required-message="Por favor, dinos como te llamas" />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-envelope text-primary"></i></div>
            </div>
            <input class="form-control" id="email" type="email" placeholder="Dirección de mail"
              required="required" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"
              data-validation-required-message="Por favor, danos tu dirección de mail." />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-comment text-primary"></i></div>
            </div>
            <textarea class="form-control" id="message" rows="5" placeholder="Mensaje"
              required="required" [(ngModel)]="message" [ngModelOptions]="{standalone: true}"
              data-validation-required-message="¿Qué nos quieres contar?"></textarea>
          </div>
        </div>
        <div class="text-center">
          <div class="form-group"><button class="btn btn-primary btn-xl btn-block"
              id="sendMessageButton" (click)="contactMe()">Enviar</button></div>
        </div>
      </div>
    </form>
    <div *ngIf="thanks">Gracias por tu ayuda. Tendremos en cuenta tus comentarios</div>
  </div>
</div>