@import './theme-styles.scss';


.white{
  color: white;
}

.white-hr{
  border: 1px solid white;
}

.top-15{
  margin-top: 15px;
}

.top-30{
  margin-top: 30px;
}

.bottom-30{
  margin-bottom: 30px;
}

.top-100{
  margin-top: 100px;
}

html {
  scroll-behavior: smooth;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.fade-in {
    animation: fadeInAnimation 1s linear forwards;
}

@keyframes fadeInAnimation {
 0% { opacity:0; }
 100% { opacity:1; } 
}

